<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Preserved physical memory, in MB -->
    <add key="PreservedMemory" value="1024"/>
  </appSettings>
</configuration>